body {
    font-family: Arial, sans-serif;
    background-color: rgb(249, 169, 205);
}
.container {
    background-color: rgb(245, 249, 169);
    height: 70px;
  }
  
  .navbar {
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
nav ul {
 
}

nav ul li {

}

nav ul li a {

}

nav ul li ul {
 
}

nav ul li:hover ul {
 
}

nav ul li ul li {
 
}

nav ul li ul li a {

}

section#about {

}

.subculture-container {

}

.subculture-card {

}

.subculture-title {

}

.subculture-description {

}

footer {

}

/* Larger screen adjustments */
@media (min-width: 600px) {

}